@use 'sass:math';
@use 'base/variables' as v;
@use 'base/mixins' as m;

.form{
    width: 100%;
    margin: 0 auto;
    padding: 2rem;
    background-color: v.$white;
    border-radius: 1rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
    @include m.tablet{
        padding: 3.5rem;
    }
    &__group{
        display: flex;
        flex-direction: column;
        margin-bottom: 2rem;
        gap: 1rem;
        @include m.tablet{
            justify-content: flex-start;
            margin-bottom: 3rem;
        }
        &__label{
            font-size: 1.6rem;
            display: block;
            @include m.tablet{
                font-size: 1.8rem;
            }
        }
        &__input{
            width: 100%;
            padding: 1rem;
            border: 1px solid v.$gray-light;
            border-radius: 0.5rem;
            font-size: 1.6rem;
            @include m.tablet{
                font-size: 1.8rem;
            }
        }
        &__textarea{
            width: 100%;
            padding: 1rem;
            border: 1px solid v.$gray-light;
            border-radius: 0.5rem;
            font-size: 1.6rem;
            @include m.tablet{
                font-size: 1.8rem;
            }
        }
        &__btn{
            background-color: v.$blue;
            color: v.$white;
            padding: 1rem 2rem;
            border: none;
            border-radius: 0.5rem;
            font-size: 1.6rem;
            cursor: pointer;
            @include m.tablet{
                font-size: 1.8rem;
            }
            &:hover{
                background-color: v.$blue-dark;
            }
        }
    }
}

.actions{
    margin-top: 1.5rem;
    &__enlace{
        color: v.$blue;
        font-size: 1.6rem;
        @include m.tablet{
            font-size: 1.8rem;
        }
        &:hover{
            text-decoration: underline;
        }
    }
}

.passview{
    position: relative;
    &__icon{
        position: absolute;
        right: 1.5rem;
        top: 70%;
        transform: translateY(-50%);
        cursor: pointer;
        font-size: 1.8rem;
    }
}