@use 'sass:math';
@use 'base/variables' as v;
@use 'base/mixins' as m;

.marketing{
    &__banner{
        background-color: v.$back-white;
        background-image: url('../img/banner-marketing.png');
        background-size: cover;
        background-position: center;
        background-blend-mode: overlay;
        background-color: rgba(0, 0, 0, .6);
        height: 25vh;
        max-height: 35rem;
        padding: 2rem;
        display: grid;
        place-items: center;
        text-shadow: v.$shadow;
        @include m.tablet{
            padding: 4rem;
            height: 30vh;
            max-height: 45rem;
        }
        &__title{
            font-size: 5rem;
            color: v.$white;
            text-align: center;
            margin: auto;
            @include m.tablet{
                font-size: 7.5rem;
            }
        }
    }
}