@use 'sass:math';
@use 'base/variables' as v;
@use 'base/mixins' as m;

.slider {
    position: relative;
    max-width: 100%;
    overflow: hidden;
    background-color: v.$back-white;
    &__title{
        position: absolute;
        color: v.$white;
        width: 100%;
        text-align: center;
        text-shadow: 0.1rem 0.1rem 0.5rem rgba(0, 0, 0, 0.7);
        font-size: 6.5rem;
        margin-top: calc(v.$header-height + v.$separate);
    }

    &__slides {
        display: flex;
        transition: transform 0.5s ease-in-out;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-color: rgba(0, 0, 0, 0.5);
        background-blend-mode: overlay;
    }
    &__slide {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        min-height: 80rem;
        padding: 0 v.$separate * 3;
        padding-top: calc(v.$header-height + v.$separate);
        box-sizing: border-box;
        @include m.maxtablet {
            flex-direction: column;
        }
        &__content{
            padding: 1rem 2.5rem;
            width: 100%;
            color: v.$white;
        }
        &__title{
            font-size: 4rem;
            color: v.$white;
        }
        &__img{
            max-width: 40%;
            height: auto;
            @include m.maxtablet {
                max-width: 100%;
            }
        }
        &__list{
            margin-bottom: v.$separate;
        }
        &__link{
            display: inline-block;
            padding: 1rem 2rem;
            background-color: v.$blue;
            color: v.$white;
            font-size: 2rem;
            text-align: center;
            &:hover{
                background-color: v.$blue-dark;
            }
        }
        &__text{
            @include m.maxtablet {
                width: 100%;
            }
        }
    }
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    padding: 1.6rem;
    margin-top: v.$separate;
    color: white;
    font-weight: bold;
    font-size: 3.4rem;
    border: none;
    background-color: rgba(0, 0, 0, 0.5);
    user-select: none;
}

.prev {
    left: 0;
}

.next {
    right: 0;
}