@use "sass:math";
@use 'variables' as v;
@use 'mixins' as m;


.no-display{
    display: none !important;
}

.no-click{
    pointer-events: none;
}
.text-left{
    text-align: left;
    background-color: transparent;
    margin: 0;
    margin-bottom: 4rem;
}

.slider-main{
    margin-top: 4rem;
    position: relative;
    &::after{
        clear: both;
        display: table;
        content: "";
    }
}

.bloque-btn{
    display: flex;
    flex-direction: column;

    & a{
        margin-bottom: 2rem;
    }
}

.disabled{
    pointer-events: none;   
}

.disabled-btn{
    background-color: v.$gray-light !important;
    color: darken(v.$gray-dark, 9) !important;
    pointer-events: none;
    &:hover{
        background-color: v.$gray-light !important;
        color: darken(v.$gray-dark, 9) !important;
    }
}

.m-t-0{
    margin-top: 0;
}

.m-b-0{
    margin-bottom: 0;
}

.m-t-1{
    margin-top: 1rem;
}

.m-b-1{
    margin-bottom: 1rem;
}

.m-t-5{
    margin-top: 2.5rem !important;
    @include m.tablet{
        margin-top: 5rem !important;
    }
}

.m-b-5{
    margin-bottom: 5rem;
}

.m-t-5--only-mobile{
    @include m.maxtablet{
        margin-top: 5rem;
    }
}

.m-b-5--only-desktop{
    @include m.desktop{
        margin-bottom: 5rem;
    }
}

.m-b-10{
    margin-bottom: 10rem;
}

.m-t-10{
    margin-top: 10rem;
}

.m-t-10--only-mobile{
    @include m.maxtablet{
        margin-top: 10rem;
    }
}

.m-b-10--only-desktop{
    @include m.desktop{
        margin-bottom: 10rem;
    }
}

.p-t-0{
    padding-top: 0;
}

.p-b-0{
    padding-bottom: 0;
}

.p-t-1{
    padding-top: 1rem;
}

.p-b-1{
    padding-bottom: 1rem;
}

.p-t-5{
    padding-top: 5rem;
}

.p-b-5{
    padding-bottom: 5rem;
}

.p-t-5--only-mobile{
    @include m.maxtablet{
        padding-top: 5rem;
    }
}

.p-b-5--only-mobile{
    @include m.maxtablet{
        padding-bottom: 5rem;
    }
}

.p-0{
    padding: 0;
}

.p-1{
    padding: 1rem;
}

.p-2{
    padding: 2rem;
}

.p-3{
    padding: 3rem;
}

.p-4{
    padding: 4rem;
}

.p-5{
    padding: 5rem;
}

.center{
    text-align: center;
}

.text-yellow{
    color: v.$yellow;
}

.text-green{
    color: v.$green;
}

.text-blue{
    color: v.$blue;
}

.text-blue-light{
    color: v.$blue-light;
}

.text-blue-dark{
    color: v.$blue-dark;
}

.text-white{
    color: v.$white;
}

.text-black{
    color: v.$black;
}

.text-gray{
    color: v.$gray;
}

.text-pink{
    color: v.$pink;
}

.text-orange{
    color: v.$orange;
}

.text-20{
    font-size: 1.4rem !important;
    @include m.tablet{
        font-size: 1.8rem !important;
    }
    @include m.desktop{
        font-size: 2rem !important;
    }
}

.text-24{
    font-size: 1.6rem !important;
    @include m.tablet{
        font-size: 2rem !important;
    }
    @include m.desktop{
        font-size: 2.4rem !important;
    }
}

.back-blue-light{
    background-color: v.$blue-light;
}

.back-blue{
    background-color: v.$blue;
}

.back-blue-dark{
    background-color: v.$blue-dark;
}

.back-yellow{
    background-color: v.$yellow;
}

.back-green{
    background-color: v.$green;
}

.back-white{
    background-color: v.$white;
}

.back-black{
    background-color: v.$black;
}

.back-gray{
    background-color: v.$gray;
}

.back-gray-light{
    background-color: v.$gray-light;
}

.back-gray-dark{
    background-color: v.$gray-dark;
}

.back-pink{
    background-color: v.$pink;
}

.back-orange{
    background-color: v.$orange;
}

.caps{
    text-transform: capitalize;
}

.title-info{
    font-size: 2.2rem;
    @include m.tablet{
        font-size: 2.5rem;
    }
}

.caps{
    text-transform: capitalize;
}

.overlay{
    overflow: hidden !important;
    overflow-y: hidden !important;
}

.flex{
    @include m.tablet{
        display: flex;
        gap: 2rem;
    }
}

.flex--gap-3{
    @include m.tablet{
        display: flex;
        gap: 3rem;
    }
}

.flex--gap-5{
    @include m.tablet{
        display: flex;
        gap: 5rem;
    }
}

.flex-icon{
    display: flex;
    gap: 1rem;
    align-items: center;
}

.block{
    display: block;
    width: 100%;
}

.deleteModal{
    @include m.modal(v.$gray-dark, 3rem, 90%, 40%, 0.2rem, v.$yellow, solid);
}

.only--mobile{
    @include m.tablet{
        display: none;
    }
}

.only--tablet{
    @include m.laptop{
        display: none;
    }
}

.only--desktop{
    display: none !important;
    @include m.tablet{
        display: block !important;
    }
}

.show{
    display: block !important;
}

.hide{
    display: none;
}

.pointer{
    cursor: pointer;
}

.bold{
    font-weight: v.$bold;
}

.w-100{
    width: 100%;
}